body{
  font:16px/1.2 arial;
  background-color:#E2DFCC;
  box-sizing: border-box;
  text-align: justify;
  line-height: 30px;
  margin: 5px
  
}
#logo {
  background-size: cover;
}
h2 {
  color:rgb(52, 4, 88);
}
h3{
  text-align: center
}

.navigation {
 display: flex;
  flex-direction: row;
justify-content: center;
margin-bottom: 50px;

}

nav a {
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
margin: 10px;
}
nav a:hover {
  color:white;
  font-size: 34px;
  
}

.contact {
  display: inline-table;
 margin: 20px
}

a:hover {
  color:white;}

  .photo {
    float: right;
    margin: 25px;  
  }
 
  .flex-box {
   display: flex;
   flex-wrap: wrap;
   
  }
  .two {
   flex-direction: column;
  
  }

  .box-1 {
flex: 1;
border:rgb(255, 255, 255) solid 1px; 
border-radius:5px;
padding: 5px;
margin: 5px;
  }
.box-2 {
  flex: 1;
  border:rgb(255, 255, 255) solid 1px;
  border-radius:5px;
  padding: 5px;
  margin: 5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
}
.box-3 {
  flex: 1;
  border:rgb(255, 255, 255) solid 1px; 
  border-radius:5px;
  padding: 5px;
  margin: 5px
}
.box-4 {
  flex: 1;
  border:rgb(255, 255, 255) solid 1px; 
  border-radius:5px;
  padding: 5px;
  margin: 5px
}